node_modules
.dendron.*
build
seeds
.next
docs

.backup
notes/02_Projects.01_Arxiv.20231129.pdf
notes/02_Projects.01_Arxiv.20231207.pdf
notes/02_Projects.01_Arxiv.20231212.png
notes/02_Projects.01_Arxiv.20231213.png
notes/02_Projects.01_Arxiv.20231214.png
notes/02_Projects.01_Arxiv.20231215.png
